.game-item {
	width: 320px;
	height: 300px;
	background: rgb(36, 37, 41);
	border-radius: 15px;
	cursor: pointer;
	position: relative;
	justify-self: center;

	&__title {
		font-size: 18px;
		font-weight: bold;
		position: relative;
		left: 10px;
	}

	&__genres {
		font-size: 18px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		left: 10px;
	}

	&__description {
		font-size: 14px;
		margin-top: 10px;
	}

	&__buy {
		position: absolute;
		right: 0;
		bottom: -12px;
	}
}